<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="navbar.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link href="geoblog.css" rel="stylesheet"/>
<link rel="stylesheet" href="navbar.css" />

<link href='https://fonts.googleapis.com/css?family=Cinzel Decorative' rel='stylesheet'>
<link href='https://fonts.googleapis.com/css?family=Bahiana' rel='stylesheet'>

</head>

<body>


<nav id= "nav">
  <nav class="navbar navbar-inverse">
    <div class="container-fluid nav-center">
      <ul class="nav navbar-nav">
        <li class="navbtn"><a href="./finalproject.html">Home</a></li>
        <li class="navbtn"><a href="./issues/gwcindex.html">The Issue</a></li>
        <li class="navbtn"><a href="./googleapi.html">Places Affected</a></li>
        <li class="navbtn"><a href="./donate.html">Donate</a></li>
        <li class="navbtn"><a href="./blog">Blog</a></li>
        <li class="navbtn"><a href="./AboutUs.html">Meet the Team</a></li>
      </ul>
    </div>
  </nav>
</nav>
<div id="blogWrapper">
<div class = "title" >
  <div class = "titletext" >
  <h1><u>Our Blog</u></h1>
  <h6>Inside the Fight Against Climate Change</h6>
</div>
</div>



  <div class= "blog_input">
<form method="POST" action="/blog">

        <br>
        <input type="text" name="name" required placeholder="Name">
        <br>

        <br>
        <input type="text" name="location" required placeholder="Location">
        <br>

        <br>
        <input type="text" name="title" required placeholder="Title of Your Blog Post">
        <br>

        <br>
        <textarea name="entry" rows="10" cols="50" required placeholder="Add your blog entry here"></textarea>
        <br>

        <input type="submit" value="P O S T">
</form>
  </div>

<div class = "posts">
<br>
{{#each posts as |post|}}
<div class = "postbox">
  <div class = "words">
    <h2>{{post.title}}</h2>
    <h3>{{post.entry}}</h3>
    <h5>{{post.name}} from   {{#if location}}
          <i>{{post.location}}</i>
on
    {{/if}}
    {{post.date}}</h5>
  </div>
</div>
<br>
<!-- <br>
<br> -->
{{/each}}
</div>
<!-- Footer starts here -->

<div class="hero-image">
  <div class="hero-text">
     <h5>JOIN US IN THE FIGHT TO END <br> CLIMATE CHANGE </h5>

<!-- Add font awesome icons -->
<a href="https://www.facebook.com/The-GeoEffect-164138030819261/" class="fa fa-facebook"></a>
<a href="https://www.instagram.com/the_geoeffect/" class="fa fa-instagram"></a>
<a href="https://twitter.com/the_geoeffect" class="fa fa-twitter"></a>


<p> &copy; Copyright 2017. All rights reserved. </p>
<img src="adobelogo.png" style="width:70px;height:40px;">
<img src="GWC.png" style="width:70px;height:50px;">
</div>


  </div>
</div>
</div>
</body>

</html>
